.postlistcontainer::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

/* Track */
.postlistcontainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.postlistcontainer::-webkit-scrollbar-thumb {
  background: rgb(49, 49, 49);
  border-radius: 10px;
}

/* Handle on hover */
.postlistcontainer::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.postlistcontainer {
  padding: 10px;
  text-align: center;
  overflow: auto;
  max-height: 400px;
}
